<h1>Your Deccan Queen on Rails tickets</h1>
<p>Hello,</p>
<p>Use the link below to open your orders and download your tickets.</p>
<p><%= link_to "View my tickets", @url %></p>
<p>The link works for 24 hours. If you did not request it, you can ignore this email.</p>
<p>See you in Pune.</p>
